{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

     {% endblock %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 bg-light p-4">
            <div class="d-flex align-items-center mb-4">
                <img src="{% static 'main/img/khnife.png%}" alt="Логотип" width="34" class="mr-3">
                <span class="h5">Люди и монстры</span>
            </div>
            <ul class="list-unstyled">
                <li><a href="" class="text-decoration-none">Главная</a></li>
                <li><a href="" class="text-decoration-none">Продолжение</a></li>
            </ul>
        </aside>

        <main class="col-md-9 p-4">
            {% block content %}
            <!-- Здесь будет ваш контент -->
            {% endblock %}
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>